html {
  background: #202020;
  text-align: center;
  padding-top: 36px;
}
body {
  display: inline-block;
}
h1   {
color: #505050;
font-family: verdana;
font-size: 80%;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;


}